GEMINI_API_KEY=ENTER KEY
GEMINI_MODEL=gemini-2.5-flash

GMAIL_EMAIL=ENTER EMAIL
GMAIL_APP_PASSWORD="ENTER APP PASSWORD"

WHATSAPP_API_TOKEN=your_meta_access_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here